@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    color: #e01818;
}
h2 {
    color: #e01818;
    font-size: 1.5em;
    font-weight: bold;
}
h3 {
    color: black;
    font-size: 1em;
    font-weight: bold;
}
.flex-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    text-align: center;
    background-color: #e01818;
    color: white;
    padding: 2px;
    border-radius: 7px;
}
.flex-contain {
    display: flex;
    flex-direction: row;
    width: 27%;
    text-align: center;
    padding: 20px;
}
.sticky {
    position: sticky;
    top: 0;
}
.content {
    padding: 70px;
    background-color: rgb(245, 237, 237);
    text-align: center;
}
#content {
    float: right;
    width: 70%;
}
.first {
    flex-grow: 1;
}
.second {
    flex-grow: 3;
}
.display {
    flex-basis: 25%;
    font-size: 1em;
    text-align: center;
    padding: 5px;
}
.double {
    flex-basis: 50%;
}
.third-part {
    flex-basis: 30%;
}
.image {
    max-width: 100%;
    max-height: 100px;
}
.smallimage{
    max-width: 80%;
    max-height: 350px;
}
.vsmallimg {
    width: 100px;
    max-height: 300px;
}
.vsmallimage {
    width: 40px;
    height: 40px;
    padding-right: 5px;
}
.setwidth {
    width: 60%;
}
.bigfont {
    font-size: 4.5em;
    color: white;
}
.regularfont {
    font-size: 1em;
    color: white;
}
.bigfontblack {
    font-size: 3em;
    color: black;
}
.mediumfontblack {
    font-size: 2em;
    color: black;
}
.regularfontblack {
    font-size: 1em;
    color: black;
}
.button {
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 10px;
    border: 1px solid #e01818;
    background-color: #e01818;
    cursor: pointer;
    border-radius: 20px;
}
.button:hover {
    background-color: black;
}
nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
nav a:hover {
    font-weight: bold;
    text-decoration: underline;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.card {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 15px;
    margin-top: 20px;
}
main {
    padding: 20px;
    overflow: auto;
}
aside {
    float: left;
    width: 27%;
    padding-left: 5px;
}
footer {
    padding: 20px;
    color: white;
    background-color: #e01818;
    text-align: center;
    font-weight: bold;
}
* {
    box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
   #content,
   aside {
       width: 100%;
       padding: 0;
   }
}
header {
   display: inline;
}
